body {
}
footer {
    position:static;
    margin-bottom:20px;
    font-size:20px;
    text-align:center;
    padding: 5px;
}
p {
    font-size:25px;
    text-align:center;
}
img {
    text-align:center;
    width:35%;
}
button {
    font-size:inherit;
}
